# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
cities_df = pd.read_csv('cities_data.csv')
cities_df = pd.DataFrame(cities_df)
cities_df

,ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chokurdakh,70.63,147.92,30.34,96,99,14.03,RU,1601768024
1,1,Torbay,47.67,-52.73,60.01,87,90,17.22,CA,1601768024
2,2,Qaanaaq,77.48,-69.36,23.95,89,100,0.56,GL,1601768024
3,3,Bredasdorp,-34.53,20.04,59.00,93,40,8.05,ZA,1601768024
4,4,Arraial do Cabo,-22.97,-42.03,75.20,94,75,8.05,BR,1601768024
...,...,...,...,...,...,...,...,...,...,...
686,686,Zhaoyang,42.68,126.03,43.36,82,99,17.92,CN,1601768083
687,687,Sola,-13.88,167.55,78.76,79,30,20.22,VU,1601768083
688,688,Nevel',56.02,29.93,54.66,62,100,10.58,RU,1601768083
689,689,Antalaha,-14.90,50.28,69.33,88,16,5.03,MG,1601768083
690,690,Copacabana,6.35,-75.51,60.80,93,40,3.36,CO,1601767805

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [49]:
# Store latitude and longitudes in locations 
locations = cities_df[['Lat','Lng']].astype(float)
# Store humidity for future weights
humidity = cities_df['Humidity'].astype(float)

print(humidity)
print(locations)

0      96.0
1      87.0
2      89.0
3      93.0
4      94.0
       ...
686    82.0
687    79.0
688    62.0
689    88.0
690    93.0
Name: Humidity, Length: 691, dtype: float64
       Lat     Lng
0    70.63  147.92
1    47.67  -52.73
2    77.48  -69.36
3   -34.53   20.04
4   -22.97  -42.03
..     ...     ...
686  42.68  126.03
687 -13.88  167.55
688  56.02   29.93
689 -14.90   50.28
690   6.35  -75.51

[691 rows x 2 columns]

In [54]:
# Plot heatmap
fig = gmaps.Map()
# Heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=max(humidity),
                                point_radius=2)
fig.add_layer(heat_layer)
fig

Map(configuration={'api_key': 'AIzaSyAZjwJNSjbBLU4D-N4G_QzGwyGGR8LzsZQ'}, data_bounds=[(-45.766692131152084, -â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure